.weatherPopup{
    max-width: 70px;
    width: 100%;
    height: auto;
    margin-right: 20px;
    position: absolute;
    top: 35px;
    text-align: center;
    font-size: 14px;
    display: block;
    background-color: #333333;
    color: #ffffff;
    p{
        margin: 0;
    }
}

